
// Typography

body {
    font-family: "Inter UI", "Helvetica Neue", Arial, sans-serif; /* 1 */
    background-color: #white;
}

header {
    padding-bottom: 3rem;

    h1 {
        font-size: 2.4rem;
        font-weight: 900;
        line-height: 2.5rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1rem;
    }
}

.hero-body {
    .subtitle {
        padding-top: 1rem;
    }
}

.title {
    font-weight: 600;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.paragraph {
    line-height: 1.8rem;
}

.paragraph + .paragraph {
    padding-top: 1em;
}

.paragraph + .title {
    padding-top: 1rem;
}

.meta {
    font-size: 0.8rem;
}

ul, ol {
    line-height: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


// Layout

.container {
    max-width: 800px;
}

.section {

    
}

// Navigation


.hero {
    a.navbar-item:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}

// Markdown

.markdown {
    h1 {
        font-weight: 900;
        font-size: 2.4rem;
        padding-top: 5rem;
        padding-bottom: 1rem;
      }
    
      h2 {
        font-weight: 600;
        font-size: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    
      h3 {
        font-weight: 600;
        font-size: 1.4rem;
        padding-top: 1rem;
      }
    
      h4 {
        font-weight: 600;
        font-size: 1rem;
      }
    
      ol {
        padding-left: 2rem;
      }
    
      ul {
        padding-left: 2rem;
        list-style-type: circle;
      }
    
      table {
        min-width: 360px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    
      th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
}

// transition

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

