// Typography

body {
    font-family: "Inter UI", "Helvetica Neue", Arial, sans-serif; /* 1 */
}

header {
    padding-bottom: 2rem;

    h1 {
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.4rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.hero-body {
    .subtitle {
        padding-top: 1rem;
    }
}

.title {
    font-weight: 900;
}

.paragraph {
    line-height: 1.8rem;
}

.paragraph + .paragraph {
    padding-top: 1em;
}

.paragraph + .title {
    padding-top: 1rem;
}

.meta {
    font-size: 0.8rem;
}

ul, ol {
    line-height: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// Layout

.container {
    max-width: 1000px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

// Navigation

.nuxt-link-exact-active {
    
}