
// Colors
$hcg-purple: #452b7d;
$hcg-navy: #0e132b;
$hcg-turq: #09738b;
$hcg-bg: #f2f2f2;
$hcg-dark: #4a4a4a;

.is-purple {
    background-color: $hcg-purple;
}

.is-turquoise {
    background-color: $hcg-turq;
}

.is-navy {
    background-color: $hcg-navy;
}

// Typography

body {
    font-family: "Inter UI", "Helvetica Neue", Arial, sans-serif; /* 1 */
    background-color: #f2f2f2;
}

header {
    h1 {
        font-weight: 900;
        font-size: 40px;
        letter-spacing: -0.009em;
        line-height: 56px;
        padding-bottom: 1rem;
    }

    
}

p {
    font-size: 1rem;
    letter-spacing: 0.003em;
    line-height: 22px;
}

.hero-body {
    .subtitle {
        padding-top: 1rem;
    }
}

.title {
    font-weight: 600;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.paragraph + .paragraph {
    padding-top: 1em;
}

.paragraph + .title {
    padding-top: 1rem;
}

.meta {
    font-size: 0.8rem;
}

ul, ol {
    line-height: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


// Layout

.container {

}

.section {

    
}

.has-background-image {
    background-size: cover; 
    background-position: center center;
}

// Navigation


.hero {
    a.navbar-item:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}

// Button Tings ONLY FOR NUXT LINKS
.is-square-button {
    border-width: 3px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 1.3rem;
    padding-bottom: 1.2rem;
    font-size: 1.20rem;
    border-radius: 0px;
    transition: all 0.3s;
    letter-spacing: 0.05rem;
}

.is-default-button {
    color: $hcg-dark;
    border-color: $hcg-dark;
    background-color: $hcg-bg;
}

.is-default-button:hover {
    color: $hcg-bg;
    border-color: $hcg-dark;
    background-color: $hcg-dark;
}

.is-navy-button {
    color: $hcg-navy;
    border-color: $hcg-navy;
    background-color: $hcg-bg;
}

.is-navy-button:hover {
    color: $hcg-bg;
    border-color: $hcg-navy;
    background-color: $hcg-navy;
}

.is-white-purple-button {
    color: white;
    border-color: white;
    background-color: $hcg-purple;
}

.is-white-purple-button:hover {
    color: $hcg-purple;
    border-color: white;
    background-color: white;
}

.is-white-turquoise-button {
    color: white;
    border-color: white;
    background-color: $hcg-turq;
}

.is-white-turquoise-button:hover {
    color: $hcg-turq;
    border-color: white;
    background-color: white;
}

.is-white-navy-button {
    color: white;
    border-color: white;
    background-color: $hcg-navy;
}

.is-white-navy-button:hover {
    color: $hcg-navy;
    border-color: white;
    background-color: white;
}

.is-purple-button {
    color: white;
    border-color: $hcg-purple;
    background-color: $hcg-purple;
}

.is-purple-button:hover {
    color: $hcg-purple;
    border-color: white;
    background-color: white;
}

.is-card-button {
    color: white;
    border-color: $hcg-turq;
    background-color: $hcg-turq;
}

.is-card-button:hover {
    color: white;
    border-color: $hcg-purple;
    background-color: $hcg-purple;
}

.is-ci-button {
    color: white;
    border-color: $hcg-purple;
    background-color: $hcg-purple;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.is-ci-button:hover {
    color: white;
    border-color: $hcg-navy;
    background-color: $hcg-navy;
}

// Markdown

.markdown {
    h1 {
        font-weight: 900;
        font-size: 2.4rem;
        padding-top: 5rem;
        padding-bottom: 1rem;
      }
    
      h2 {
        font-weight: 600;
        font-size: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    
      h3 {
        font-weight: 600;
        font-size: 1.4rem;
        padding-top: 1rem;
      }
    
      h4 {
        font-weight: 600;
        font-size: 1rem;
      }
    
      ol {
        padding-left: 2rem;
      }
    
      ul {
        padding-left: 2rem;
        list-style-type: circle;
      }
    
      table {
        min-width: 360px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    
      th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
}

// transition

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

